<form>
	<fieldset>
		<label>Title</label>
		<input type="text" placeholder="Type post title..." id="author"/>
		<label>Author</label>
		<input type="text" placeholder="Type name of author..." id="title"/>
		<label>Text</label>
		<textarea rows="3" id="body"></textarea>
		<br/>
		<button class="btn btn-success" type="button" id="newpost">Post</button>
	</fieldset>
</form>