<!-- Button to trigger modal -->
<a href="#postModal" role="button" class="btn btn-success" data-toggle="modal">Add post</a>
<br/><br/>


<div id="post-list"></div>


<!-- Modal -->
<div id="postModal" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">×</button>
		<h3 id="myModalLabel">Add post</h3>
	</div>
	<div class="modal-body">
		<form>
			<fieldset>
				<label>Title</label>
				<input type="text" placeholder="Type post title..." id="posttitle" />
				<label>Text</label>
				<textarea rows="5" class="field span5" id="postbody"></textarea>
				<br />
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="newpost" data-dismiss="modal" aria-hidden="true">Save changes</button>
	</div>
</div>